<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <base target="_top">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
      .inputKeyword {
        margin-bottom: 0;
      }
      .channelName .el-link {
        font-size: small;
      }
      .el-link.is-underline:hover:after {
        bottom: 5px;
      }
      .el-collapse-item.option > div > .el-collapse-item__header {
        height: 20px;
        line-height: 20px;
      }
      .el-collapse-item.option > div > div > i.el-collapse-item__arrow.el-icon-arrow-right {
        line-height: 20px;
      }
      .el-collapse-item.option > div > .el-collapse-item__content {
        padding-bottom: 0;
      }
    </style>
  </head>
  <body>
    <div id="app" @submit.prevent>
      <el-container>
        <el-header>
          <h1>YouTube Box</h1>
        </el-header>
        <el-main>
          <section>
            <h2>Order</h2>
            <el-form label-width="0" ref="searchForm" :model="searchForm">
              <el-form-item class="inputKeyword" label="" prop="keyword">
                <el-input v-model="searchForm.keyword">
                  <el-button
                      slot="append"
                      native-type="submit"
                      icon="el-icon-search"
                      @click="search()">
                  </el-button>
                </el-input>
              </el-form-item>
              <el-collapse>
                <el-collapse-item class="option" name="option">
                  <template slot="title">
                    <i class="el-icon-s-operation"></i> Option
                  </template>
                  <el-row>
                    <el-col :span="6">
                      Order
                      <el-form-item>
                        <el-select v-model="searchForm.order">
                          <el-option
                              v-for="option in searchForm.orderOptions"
                              :value="option">
                          </el-option>
                        </el-select>
                      </el-form-item>
                    </el-col>
                    <el-col :span="6">
                      Published day
                      <el-form-item>
                        <el-select v-model="searchForm.publishPeriod" placeholder="Not specified" clearable>
                          <el-option
                              v-for="option in searchForm.periodOptions"
                              :value="option">
                          </el-option>
                        </el-select>
                      </el-form-item>
                    </el-col>
                    <el-col :span="6">
                      MaxResults
                      <el-form-item>
                        <el-select v-model="searchForm.maxResults">
                          <el-option
                              v-for="option in searchForm.maxResultsOptions"
                              :value="option">
                          </el-option>
                        </el-select>
                      </el-form-item>
                    </el-col>
                  </el-row>
                </el-collapse-item>
              </el-collapse>
            </el-form>
            <div v-loading="isSearchLoading">
              <el-row
                  v-show="searchResult.list"
                  type="flex"
                  justify="space-between"
                  style="margin-top:15px">
                <el-col :span="1">
                  <el-button
                      plain
                      size="small"
                      icon="el-icon-arrow-left"
                      :disabled="!searchResult.prevPageToken"
                      @click="search(searchResult.prevPageToken)">
                  </el-button>
                </el-col>
                <el-col :span="5">
                  {{(searchResult.total || 0).toLocaleString()}} item(s) hit
                </el-col>
                <el-col :span="1">
                  <el-button
                      plain
                      size="small"
                      icon="el-icon-arrow-right"
                      :disabled="!searchResult.nextPageToken"
                      @click="search(searchResult.nextPageToken)">
                  </el-button>
                </el-col>
              </el-row>
              <el-table
                  :data="searchResult.list"
                  style="width: 100%"
                  empty-text="No result."
                  :show-header="false"
                  stripe>
                <el-table-column
                    width="160">
                  <template slot-scope="list">
                    <el-image
                        :src="list.row.thumbnailUrl"
                        fit="contain">
                    </el-image>
                  </template>
                </el-table-column>
                <el-table-column>
                  <template slot-scope="list">
                    <el-link :href="list.row.url" type="primary" target="_blank">{{list.row.title}}</el-link><br>
                    {{list.row.videoLength}}<br>
                    <cite class="channelName">
                      <el-link :href="list.row.channelUrl" type="info" target="_blank">{{list.row.channelName}}</el-link>
                    </cite>
                    <br>
                    <el-button
                        v-if="list.row.isOrdered"
                        type="primary"
                        plain
                        disabled
                        size="small"
                        icon="el-icon-check">
                      Ordered!
                    </el-button>
                    <el-button
                        v-else
                        type="primary"
                        native-type="submit"
                        size="small"
                        icon="el-icon-edit-outline"
                        :loading="list.row.isOrdering"
                        @click="order(list.row, list.$index)">
                      Order
                    </el-button>
                  </template>
                </el-table-column>
              </el-table>
              <el-row
                  v-show="searchResult.list"
                  type="flex"
                  justify="space-between"
                  style="margin-top:15px">
                <el-col :span="1">
                  <el-button
                      plain
                      size="small"
                      icon="el-icon-arrow-left"
                      :disabled="!searchResult.prevPageToken"
                      @click="search(searchResult.prevPageToken)">
                  </el-button>
                </el-col>
                <el-col :span="1">
                  <el-button
                      plain
                      size="small"
                      icon="el-icon-arrow-right"
                      :disabled="!searchResult.nextPageToken"
                      @click="search(searchResult.nextPageToken)">
                  </el-button>
                </el-col>
              </el-row>
            </div>
          </section>

          <section>
            <h2>Play List</h2>
            <div v-loading="isListLoading">
              <el-table
                  :data="playList"
                  style="width: 100%"
                  :show-header="false"
                  stripe>
                <el-table-column
                    type="index"
                    label=" "
                    width="50">
                </el-table-column>
                <el-table-column
                    width="160">
                  <template slot-scope="list">
                    <img :src="list.row.thumbnailUrl" alt="Thumbnail">
                  </template>
                </el-table-column>
                <el-table-column>
                  <template slot-scope="list">
                    <el-link :href="list.row.url" type="primary" target="_blank">{{list.row.title}}</el-link><br>
                    {{list.row.videoLength}}<br>
                    <cite class="channelName">
                      <el-link :href="list.row.channelUrl" type="info" target="_blank">{{list.row.channelName}}</el-link>
                    </cite>
                    <br>
                    Order by {{list.row.orderUser}}
                  </template>
                </el-table-column>
              </el-table>
            </div>
          </section>
        </el-main>
      </el-container>
    </div>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script>
      new Vue({
        el: '#app',
        data() {
          return {
            searchForm: {
              keyword: '',
              maxResults: 5,
              order: 'relevance',
              orderOptions: [
                'date',
                'rating',
                'relevance',
                'title',
                'viewCount'
              ],
              publishedPeriod: null,
              periodOptions: [
                'Within an hour',
                'Today',
                'This week',
                'This month',
                'This year'
              ],
              maxResultsOptions: [
                5,
                10,
                20,
                30,
                40,
                50
              ]
            },
            isSearchLoading: false,
            searchResult: {},
            isListLoading: false,
            playList: []
          }
        },
        created: function() {
          this.getOrders()
        },
        methods: {
          search(pageToken) {
            this.isSearchLoading = true
            google.script.run
              .withSuccessHandler(this.setSearchResult)
              .search(
                this.searchForm.keyword,
                this.searchForm.order,
                this.searchForm.publishedPeriod,
                this.searchForm.maxResults,
                pageToken
              )
          },
          setSearchResult(searchResult) {
            this.searchResult = searchResult
            this.isSearchLoading = false
            this.searchResult.list.forEach(function (video, index) {
              if (video.type === 'video') {
                google.script.run
                  .withSuccessHandler(function (videoResource) {
                    Vue.set(this.searchResult.list, index, videoResource)
                  }.bind(this))
                  .getVideoResource(video.id)
              } else {
                google.script.run
                  .withSuccessHandler(function (videoResource) {
                    Vue.set(this.searchResult.list, index, videoResource)
                  }.bind(this))
                  .getPlaylistResource(video.id)
              }
            }.bind(this))
          },
          getOrders() {
            this.isListLoading = true
            google.script.run
              .withSuccessHandler(function (orders) {
                this.playList = orders
                this.isListLoading = false
              }.bind(this))
              .getOrders()
          },
          order(itemResource, index) {
            itemResource.isOrdering = true
            Vue.set(this.searchResult.list, index, itemResource)
            google.script.run
              .withSuccessHandler(function () {
                this.onOrderSuccess(itemResource, index)
              }.bind(this))
              .withFailureHandler(function (error) {
                console.error(error)
                this.onOrderFailed(error, itemResource, index)
              }.bind(this))
              .orderItem(itemResource)
          },
          onOrderSuccess(itemResource, index) {
            this.$notify({
              title: 'Order Success!',
              message: itemResource.title,
              type: 'success'
            })
            itemResource.isOrdering = false
            itemResource.isOrdered = true
            Vue.set(this.searchResult.list, index, itemResource)
            this.getOrders()
          },
          onOrderFailed(error, itemResource, index) {
            this.$notify({
              type: 'error',
              title: 'Order Failed...',
              message: this.$createElement('div',
                [
                  this.$createElement('span', null, itemResource.title),
                  this.$createElement('br', null, null),
                  this.$createElement('br', null, null),
                  this.$createElement('span', null, error.message),
                ]
              )
            })
            itemResource.isOrdering = false
            itemResource.isOrdered = false
            Vue.set(this.searchResult.list, index, itemResource)
            this.getOrders()
          }
        }
      })
    </script>
  </body>
</html>
